%section#intro

  %section#intro_title

    %h1 APPLYING FUNCTIONAL REACTIVE PROGRAMMING TO WRITE DYNAMIC SERVER BASED WEB-APPLICATIONS

    %p -

    %h4 Connecting Single Page Applications to the Backend without Mess and Mayhem

    %p -

    %h3 HackITZ, November 2016

    %div{style: 'margin-top: 1em'}
    %p
      %a{href: 'http://github.com/drtom'}
        %i.fa.fa-github-square
      %a{href: 'https://twitter.com/DrTom21'}
        %i.fa.fa-twitter-square
      &nbsp;
      Dr. Thomas Schank


    %p{style: 'margin-top: 1em; font-size: 50%'} Version 1.0.0

    %aside.notes
      :markdown
        * Stuff


%section#motivation1
  = partial '01_motivation1'

%section#motivation2
  = partial '02_motivation2'

%section#motivation3
  = partial '03_motivation3'

%section#roadmap
  = partial '04_roadmap'

%section#frp
  = partial '05_frp'

%section#atoms
  = partial '06_atoms'

%section#reagent
  = partial '07_reagent'

%section#spa
  = partial '08_spa'

%section#server_spas
  = partial '09_server-spas'

%section#benefits
  = partial '10_benefits'

%section#end
  = partial '12_end'





